@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('public/bg-cat.jpg');
    background-repeat: repeat;
    background-size: 20% 55%;
}
@media screen and (max-width: 768px) {
    body {
        background-size: 10% 15%;
    }
}
@media screen and (max-width: 480px) {
    body {
        background-size: 5% 10%;
    }
}